// **************************************
// @Variables: variables
// **************************************

// Tamaños
:root{
    --tamano-ancho: 1536px;
    --tamano-alto: 1080px;
}

// Colores
:root{
    --color-gris_claro: #D9D9D9;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-naranja: #FF0000;
}
