// **************************************
// @Footer: footer
// **************************************

// Apartado dl footer
footer{
    width: var(--tamano-ancho);
    height: 310px;
    background-color: #757575;
}

.footer__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 310px;
    padding: 20px 0 ;

    h6{
        color: var(--color-blanco);
        font-size: 18px;

    }
}